@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="text-content">
<h1>About Me</h1>
<p>Jag som skapat denna webbplats heter Rasmus Andersson och studerat termin 4 på Webbutvecklingsprohrammet på MIUN.
Denna webbplats är skapat med Razor i Visual Studio 2022. 
</p>
</div>


